.card__container{
  position:  relative;
  border: 3px solid 3E4357;
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.card__img{
  min-width: 100%;
  min-height: 100%;
  transition: transform .8s;
}

.card__img:hover{
  transform: scale(1.1);
}
